<form class="{{cssClass}} kult-sheet" autocomplete="off">
    <div class="charsheet">
    <div class="sheet-container1">
        <div class="sheet-pic">
            <img  src="/systems/kult4e/assets/mystery-man.png" data-edit="img" title="{{actor.name}}" height="128" width="128"/>
        </div>
        <div class="sheet-basic">
           
            <h1 ><input name="name" type="text" value="{{actor.name}}" placeholder="Imię"/></h1>
            <h1 ><input name="archetyp" type="text" placeholder="Archetyp"/></h1>
            <h1 ><input name="zawod" type="text" placeholder="Zawód/Zajęcie"/></h1>
        </div>
        <img class="sheet-logo" src="/systems/kult4e/assets/kult-pl-b.png" >
        <div class="sheet-attributes">
            <div class="sheet-row">

                <div style="margin-left: 33% ; width: 33% ; margin-bottom: 5% ; margin-top: 3% ; display: block ; text-align: center ; padding: 1px 0px 0px 0px" class="sheet-label">⬪ <span data-i18n="attributes-u">ATRYBUTY</span> ⬪</div>
            
                    <div  style="position: absolute ; top: 131px ; left: 67px"><input type="number" placeholder="0" name="data.attributes.fortitude" value= "{{data.attributes.fortitude}}" min="-5" max="5" >
                        <div class="sheet-attlabel" style="position: absolute ; top: 84px ; left: -57px ; ">
                            <h4 style="font-weight: bolder">ODPORNOSĆ</h4>
                        </div>
                    </div>
                    <div  style="position: absolute ; top: 57px ; left: 190px"><input type="number" placeholder="0" name="data.attributes.willpower" value= "{{data.attributes.willpower}}" min="-5" max="5">
                        <div class="sheet-attlabel" style="position: absolute ; top: 84px ; left: -57px ; ">
                            <h4 style="font-weight: bolder">SIŁA WOLI</h4>
                            {{!-- <div class="move-info item-name" data-item-id="wIdNBJ6wqEl2GCl9">
                                <a class="move-roll attribute-button" title="Kliknij by wykonać akcję"> Weź się w garść </a>
                            </div> --}}
                        </div>
                    </div>
                    <div  style="position: absolute ; top: 131px ; left: 310px"><input type="number" placeholder="0" name="data.attributes.reflexes" value= "{{data.attributes.reflexes}}" min="-5" max="5">
                        <div class="sheet-attlabel" style="position: absolute ; top: 84px ; left: -57px ; ">
                            <h4 style="font-weight: bolder">REFLEKS</h4>
                        </div>
                    </div>
                    <div  style="position: absolute ; top: 265px ; left: 67px"><input type="number" placeholder="0" name="data.attributes.reason" value= "{{data.attributes.reason}}" min="-5" max="5">
                        <div class="sheet-attlabel" style="position: absolute ; top: 84px ; left: -57px ; ">
                            <h4 style="font-weight: bolder">ROZUM</h4>
                        </div>
                    </div>
                    <div  style="position: absolute ; top: 265px ; left: 310px"><input type="number" placeholder="0" name="data.attributes.intuition" value= "{{data.attributes.intuition}}" min="-5" max="5">
                        <div class="sheet-attlabel" style="position: absolute ; top: 84px ; left: -57px ; ">
                            <h4 style="font-weight: bolder">INTUICJA</h4>
                        </div>
                    </div>
                    <div  style="position: absolute ; top: 333px ; left: 190px"><input type="number" placeholder="0" name="data.attributes.perception" value= "{{data.attributes.perception}}" min="-5" max="5">
                        <div class="sheet-attlabel" style="position: absolute ; top: 84px ; left: -57px ; ">
                            <h4 style="font-weight: bolder">PERCEPCJA</h4>
                        </div>
                    </div>
                    <div  style="position: absolute ; top: 405px ; left: 67px"><input type="number" placeholder="0" name="data.attributes.coolness" value= "{{data.attributes.coolness}}" min="-5" max="5">
                        <div class="sheet-attlabel" style="position: absolute ; top: 84px ; left: -57px ; ">
                            <h4 style="font-weight: bolder">OPANOWANIE</h4>
                        </div>
                    </div>
                    <div  style="position: absolute ; top: 405px ; left: 310px"><input type="number" placeholder="0" name="data.attributes.violence" value= "{{data.attributes.violence}}" min="-5" max="5">
                        <div class="sheet-attlabel" style="position: absolute ; top: 84px ; left: -57px ; ">
                            <h4 style="font-weight: bolder">PRZEMOC</h4>
                        </div>
                    </div>
                    <div  style="position: absolute ; top: 470px ; left: 190px"><input type="number" placeholder="0" name="data.attributes.charisma" value= "{{data.attributes.charisma}}" min="-5" max="5">
                        <div class="sheet-attlabel" style="position: absolute ; top: 84px ; left: -57px ; ">
                            <h4 style="font-weight: bolder">CHARYZMA</h4>
                        </div>
                    </div>
                    <div  style="position: absolute ; top: 610px ; left: 190px"><input type="number" placeholder="0" name="data.attributes.soul" value= "{{data.attributes.soul}}" min="-5" max="5">
                        <div class="sheet-attlabel" style="position: absolute ; top: 84px ; left: -57px ; ">
                            <h4 style="font-weight: bolder">DUSZA</h4>
                        </div>
                    </div>
                    <div >
                {{#each moves as |move id|}}
                {{#if (eq move.type "move")}}
                {{> "systems/kult4e/templates/partials/move-card.hbs" move}}
                {{/if}}
                {{/each}}
            </div>
            </div>
        </div>
        <div id="Stats" class="sheet-moves {{actor._id}}-tab">
            <div style="margin-left: 33% ; width: 33% ; margin-bottom: 5% ; margin-top: 3% ; display: block ; text-align: center ; padding: 1px 0px 0px 0px" class="sheet-label">⬪ <span data-i18n="attributes-u">KONDYCJA</span> ⬪</div>
           <div class="right-middle-column">
            <div>Fizyczna</div>
            <div class="wound-entries">
                {{#each wounds}}
                <div class="wound-section"><label>Poważna Rana</label>
                <select class="stabilized" name="data.attributes.woundstabilized.{{this}}" value= "{{lookup ../data.attributes.woundstabilized this}}">{{#select (lookup ../data.attributes.woundstabilized this)}}<option value="true">Opatrzona</option><option value="false">Nie Opatrzona</option>{{/select}}</select>
                </div>
                <div class="wound-name"><input type="text" name="data.attributes.woundtext.{{this}}" value="{{lookup ../data.attributes.woundtext this}}"></div>

                {{/each}}

                <div class="wound-section"><label>Rana Krytyczna</label><select name="data.attributes.criticalwoundstabilized" value= "{{data.attributes.criticalwoundstabilized}}">{{#select data.attributes.criticalwoundstabilized}}<option value="true">Opatrzona</option><option value="false">Nie Opatrzona</option>{{/select}}</select></div>
                <div class="wound-name"><input type="text" name="data.attributes.criticalwound" value="{{data.attributes.criticalwound}}"></div>
                </div>
            <div class="flex-column stability-section">
                <span class="section-label">Mentalna<select name="data.stability.value" value= "{{data.stability.value}}">{{#select data.stability.value}}
                    <option value="0">Spokojny: Brak mnodyfikatorów</option>
                    <option value="1">Zaniepokojony: -1 do rzutów na komplikacje.</option>
                    <option value="2">Rozproszony: -1 do rzutów na komplikacje.</option>
                    <option value="3">Wstrząśnięty: -1 WSWG/-2 do rzutów na komplikacje.</option>
                    <option value="4">Przestraszony: -1 WSWG/-2 do rzutów na komplikacje.</option>
                    <option value="5">Znerwicowany: -1 WSWG/-2 do rzutów na komplikacje.</option>
                    <option value="6">Zatrwożony: -2 WSWG/-3 do rzutów na komplikacje. / +1 Iluzji</option>
                    <option value="7">Irracjonalny: -2 WSWG/-3 do rzutów na komplikacje. / +1 Iluzji</option>
                    <option value="8">Rozstrojony: -2 WSWG/-3 do rzutów na komplikacje. / +1 Iluzji</option>
                    <option value="9">Zdruzgotany: MG Wykonuje ruch</option>{{/select}}</select>
                </span>
                <a class="stability-minus" title="Click to Take Stability Damage"><i class="fas fa-minus-circle"></i></a><a class="stability-plus" title="Click to Heal Stability"><i class="fas fa-plus-circle"></i></a>
    </div>
            

        </div>
        </div>
        <div id="Background" class="sheet-pagetwo {{actor._id}}-tab" style="display: none;">
            <div class="section-label">Relacje</div>
        
            <div class="item-list relationship-list">
                {{#each relationships as |relationship id|}}
                {{> "systems/kult4e/templates/partials/relationship-card.hbs" relationship}}
                {{/each}}

            </div>
            <div class="advantage-box">
        <div class="section-label">Mroczne Sekrety</div>
        
            <div class=" item-list darksecret-list">
                {{#each darksecrets as |darksecret id|}}
                {{> "systems/kult4e/templates/partials/darksecret-card.hbs" darksecret}}
                {{/each}}

            </div>
        <div class="section-label">Atuty</div>
        
            <div class="item-list advantage-list">
                {{#each advantages as |advantage id|}}
                {{> "systems/kult4e/templates/partials/advantage-card.hbs" advantage}}
                {{/each}}

            </div>
        <div class="section-label">Komplikacje</div>
        
            <div class="item-list disadvantage-list">
                {{#each disadvantages as |disadvantage id|}}
                {{> "systems/kult4e/templates/partials/disadvantage-card.hbs" disadvantage}}
                {{/each}}

            </div>
        </div>
        </div>
        <div class="sheet-mod"><div>Modyfikator: <select name="data.sitmod" value= "{{data.sitmod}}"> {{#select data.sitmod}} <option value="3">3</option><option value="2">2</option><option value="1">1</option><option value="0">0</option><option value="-1">-1</option><option value="-2">-2</option><option value="-3">-3</option><option value="-4">-4</option><option value="-5">-5</option>{{/select}}</select></div></div>
        <div class="sheet-navi"><div class="sheet-navi-buttons"><a class="tabButton" data-tab="Stats">Kondycja</a><a class="tabButton" data-tab="Background">Przewagi</a></div></div>
    
    </div>

{{!-- //////////////////HERE!!!!!!!!!!////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --}}



    <div class="flex-container top-section">
    <div class="flex-column modifier-section">
        <div class="vertical-align">
        <div>Przewagi: <select name="data.forward" value= "{{data.forward}}">{{#select data.forward}} <option value="3">3</option><option value="2">2</option><option value="1">1</option><option value="0">0</option><option value="-1">-1</option><option value="-2">-2</option><option value="-3">-3</option><option value="-4">-4</option><option value="-5">-5</option>{{/select}}</select></div>
        
        </div>
    </div>
    
    <div  class="stats-section ">
    <div class="middle-section">
        {{!-- <div class="attribute-column">
        
            <table class="attribute-box">
            <tr><td>{{localize 'kult4e.Willpower'}}:</td><td><select name="data.attributes.willpower" value= "{{data.attributes.willpower}}">{{#select data.attributes.willpower}}<option value="3">3</option><option value="2">2</option><option value="1">1</option><option value="0">0</option><option value="-1">-1</option><option value="-2">-2</option><option value="-3">-3</option>{{/select}}</select></td></tr>
            <tr><td>{{localize 'kult4e.Fortitude'}}:</td><td><select name="data.attributes.fortitude" value= "{{data.attributes.fortitude}}">{{#select data.attributes.fortitude}}<option value="3">3</option><option value="2">2</option><option value="1">1</option><option value="0">0</option><option value="-1">-1</option><option value="-2">-2</option><option value="-3">-3</option>{{/select}}</select></td></tr>
            <tr><td>{{localize 'kult4e.Reflexes'}}:</td><td><select name="data.attributes.reflexes" value= "{{data.attributes.reflexes}}">{{#select data.attributes.reflexes}}<option value="3">3</option><option value="2">2</option><option value="1">1</option><option value="0">0</option><option value="-1">-1</option><option value="-2">-2</option><option value="-3">-3</option>{{/select}}</select></td></tr>
            <tr><td>{{localize 'kult4e.Reason'}}:</td><td><select name="data.attributes.reason" value= "{{data.attributes.reason}}">{{#select data.attributes.reason}}<option value="3">3</option><option value="2">2</option><option value="1">1</option><option value="0">0</option><option value="-1">-1</option><option value="-2">-2</option><option value="-3">-3</option>{{/select}}</select></td></tr>
            <tr><td>{{localize 'kult4e.Intuition'}}:</td><td><select name="data.attributes.intuition" value= "{{data.attributes.intuition}}">{{#select data.attributes.intuition}}<option value="3">3</option><option value="2">2</option><option value="1">1</option><option value="0">0</option><option value="-1">-1</option><option value="-2">-2</option><option value="-3">-3</option>{{/select}}</select></td></tr>   
            <tr><td>{{localize 'kult4e.Perception'}}:</td><td><select name="data.attributes.perception" value= "{{data.attributes.perception}}">{{#select data.attributes.perception}}<option value="3">3</option><option value="2">2</option><option value="1">1</option><option value="0">0</option><option value="-1">-1</option><option value="-2">-2</option><option value="-3">-3</option>{{/select}}</select></td></tr>
            <tr><td>{{localize 'kult4e.Coolness'}}:</td><td><select name="data.attributes.coolness" value= "{{data.attributes.coolness}}">{{#select data.attributes.coolness}}<option value="3">3</option><option value="2">2</option><option value="1">1</option><option value="0">0</option><option value="-1">-1</option><option value="-2">-2</option><option value="-3">-3</option>{{/select}}</select></td></tr>
            <tr><td>{{localize 'kult4e.Violence'}}:</td><td><select name="data.attributes.violence" value= "{{data.attributes.violence}}">{{#select data.attributes.violence}}<option value="3">3</option><option value="2">2</option><option value="1">1</option><option value="0">0</option><option value="-1">-1</option><option value="-2">-2</option><option value="-3">-3</option>{{/select}}</select></td></tr>
            <tr><td>{{localize 'kult4e.Charisma'}}:</td><td><select name="data.attributes.charisma" value= "{{data.attributes.charisma}}">{{#select data.attributes.charisma}}<option value="3">3</option><option value="2">2</option><option value="1">1</option><option value="0">0</option><option value="-1">-1</option><option value="-2">-2</option><option value="-3">-3</option>{{/select}}</select></td></tr>
            <tr><td>{{localize 'kult4e.Soul'}}:</td><td><select name="data.attributes.soul" value= "{{data.attributes.soul}}">{{#select data.attributes.soul}}<option value="3">3</option><option value="2">2</option><option value="1">1</option><option value="0">0</option><option value="-1">-1</option><option value="-2">-2</option><option value="-3">-3</option>{{/select}}</select></td></tr>
            </table>
        </div> --}}
        
    
        
        </div>

        <div class="bottom-section">  
            
            </div>
            <div class="two-column">

            <div class="weapon-section ">
                <div class="section-label">Bronie</div>
                <div class=" item-list weapon-list">
                {{#each weapons as |weapon id|}}
                {{> "systems/kult4e/templates/partials/weapon-card.hbs" weapon}}
                {{/each}}
            </div>
            </div>
            <div class="gear-section">
                <div class="section-label">Ekwipunek</div>
                <div class=" item-list weapon-list">
                {{#each gear as |gear id|}}
                {{> "systems/kult4e/templates/partials/gear-card.hbs" gear}}
                {{/each}}
            </div>

            </div>
            
            
            </div>
            </div> 

            <div  class=" ">
                <div class="two-column">
                    <div "background-box">
                        <div class="section-label">Tło postaci</div>
                        <div class="free-text">{{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}</div>
                    </div>
                    <div>
                        <div class="section-label">Wygląd</div>
                        <div class="free-text">{{editor content=data.appearance target="data.appearance" button=true owner=owner editable=editable}}</div>

                </div>
                
            </div>
</div>        
</form>
